h1 {
  background-color: #F9EAC3;
  font-family: verdana;
  font-size: 30px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 25px;

}
h2 {
  background-color: #F9EAC3;
  font-family: verdana;
  font-size: 30px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 25px;

}