@import url('https://fonts.googleapis.com/css?family=Faster+One|Gloria+Hallelujah|Permanent+Marker|Staatliches');

.texto{
  background-color: #ffea00;
  font-size: 20px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Permanent Marker', cursive;
}

button{
  background:#ffea00;
  color:#0a0a0a;
  font-family: 'Staatliches', cursive;;
  position: absolute;
  left: 45%;
}
.divbutton{
  margin-top: 10px; 
}

.btn{
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 20px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.btn-danger{
    color: #212529;
    background-color: #ffea00;
    border-color: #ffc107;
}

.btn-danger:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

body{
  overflow-x: auto;
}

.img{
 display: flex;
 margin-top: 20px;
}

.piedepagina{
  display: block;
  width: 100%;
  height: 100px;
  color: #000;
  background-color:#ffea00;
  text-align: center;
  margin-top: 70px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  font-family: 'Staatliches', cursive;
}

a{
  margin-right: 10px;
  text-decoration: none;
}